################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSCN71020_A3/.vs/CSCN71020_A3
